/node_modules
*.log
.DS_Store
.env
/.cache
/public/build
/build
/.github
docker-compose.yml
docker-compose-e2e.yml

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
