apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sommerlan.fullname" . }}
  labels:
    {{- include "sommerlan.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "sommerlan.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "sommerlan.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: SESSION_SECRET
              value: "{{ .Values.deployment.environment.SESSION_SECRET }}"
            - name: APP_ORIGIN
              value: "{{ .Values.deployment.environment.APP_ORIGIN }}"
            - name: GOOGLE_SHEET_ID
              value: "{{ .Values.deployment.environment.GOOGLE_SHEET_ID }}"
            - name: GOOGLE_SERVICE_ACCOUNT_EMAIL
              value: "{{ .Values.deployment.environment.GOOGLE_SERVICE_ACCOUNT_EMAIL }}"
            - name: GOOGLE_PRIVATE_KEY
              value: "{{ .Values.deployment.environment.GOOGLE_PRIVATE_KEY }}"
            - name: NEW_RELIC_LICENSE_KEY
              value: "{{ .Values.deployment.environment.NEW_RELIC_LICENSE_KEY }}"
            - name: NEW_RELIC_APP_NAME
              value: "{{ .Values.deployment.environment.NEW_RELIC_APP_NAME }}"
            - name: NEW_RELIC_LOADER_CONFIG
              value: "{{ .Values.deployment.environment.NEW_RELIC_LOADER_CONFIG }}"
            - name: NEW_RELIC_INFO
              value: "{{ .Values.deployment.environment.NEW_RELIC_INFO }}  "
            - name: DISCORD_BOT_TOKEN 
              value: "{{ .Values.deployment.environment.DISCORD_BOT_TOKEN }}"
            - name: DISCORD_GUILD_ID  
              value: "{{ .Values.deployment.environment.DISCORD_GUILD_ID }}"
            - name: DISCORD_ROLE_ID
              value: "{{ .Values.deployment.environment.DISCORD_ROLE_ID }}"
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
